body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: "Anta", sans-serif;
  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #sameline{
    display: flex;
    flex-direction: row;
  }
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    margin: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  a:link{
    color: white;
}
a:visited{
    color: white;
}
a:active{
    color: white;
}
a:hover{
    color: black;
}
  
  button:hover {
    background-color: #0056b3;
  }
  